
<h1>Welcome <%= @first_name %> </h1>

<p> Search by mood and genre: </p>
<form action="/search" method="get">
  Current Mood: <select name="current_mood">
  <%= erb :_mood_options %>
</select>
Desired Mood: <select name="desired_mood">
<%= erb :_mood_options %>
</select>
Style: <select name="style">
<%= erb :_style_options %>
</select>
<input type="submit" value="Find me songs!">
</form>


<% if @songs %>



  <p>
    <iframe src="https://embed.spotify.com/?uri=spotify:trackset:Your customized playlist:<%= @songs.join(',') %>" frameborder='0' allowtransparency='true' height='500'></iframe>
  </p>
  <%end%>


<a href="/logout" id="logout">Logout</a>
