<div class="navbar">
  <ul id="navList">
    <li><img id="logo" src="images/logo_small.png" alt="Moodlist" ></li>
    <li><a href="/logout" id="logout" class="button logout">Logout</a></li>
    <li><h1><%= @first_name %> </h1></li>
  </ul>
</div>


<div class="leftBar">
  <h3> Search by mood and genre: </h3>
  <form  action="/search" method="get">

    <div>
      <label>  Current Mood: </label>
      <select name="current_mood"><%= erb :_mood_options %></select>
    </div>      
    
    <div>
      <label> Desired Mood:</label> 
      <select name="desired_mood"><%= erb :_mood_options %></select>
    </div>
    <div>
      <label> Style: </label>
      <select name="style"><%= erb :_style_options %></select>
    </div>
    <div>
      <input class="button submit" type="submit" value="Find me songs!">
    </div>
  </form>
</div>


<% if @songs %>



<p><iframe src="https://embed.spotify.com/?uri=spotify:trackset:Your customized playlist:<%= @songs.join(',') %>" 
  frameborder='0' allowtransparency='true' height='900'></iframe></p>
  <%end%>


  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>

  <script>
    $('.leftBar').hover(function() {
      $(this).fadeTo(300,1);
    },function() {
      $(this).fadeTo("slow",0);
    });
// </script>
