<body id="home">
  <div id="slideshow">
  <img class="slides" src="images/wallpaper1.jpg" alt="">
  <img class="slides" src="images/wallpaper2.jpg" alt="">
  <div class="container">
    <div class="navbar">
      <ul id="navList">
        <li><img id="logo" src="images/logo_small.png" alt="Moodlist" ></li>
        <li><a href="/logout" id="logout" class="button logout">Logout</a></li>
        <li><img id="profile-pic" src="<%=@profile_pic_url%>"></li>
      </ul>
    </div>


    <div class="leftBar">
      <h3> Search by mood and genre: </h3>
      <form  id="gimmesongs" action="/search" method="get">

        <div>
          <label>  Current mood: </label>
          <select name="current_mood"><%= erb :_current_mood_options %></select>
        </div>      
        
        <div>
          <label> Desired mood:</label> 
          <select name="desired_mood"><%= erb :_desired_mood_options %></select>
        </div>
        <div>
          <label> Style: </label>
          <select name="style"><%= erb :_style_options %></select>
        </div>
        <div>
          <input id="searchbutton" class="button submit" type="submit" value="Find me songs!">
        </div>
      </form>


      <% if @songs %>
      <h3><%=@style%> | <%=@current_mood%> to  <%=@desired_mood%>:</h3>

       <iframe id="iframe" src="https://embed.spotify.com/?uri=spotify:trackset:Your customized playlist:<%= @songs.join(',') %>" frameborder='0' allowtransparency='true' height='500' >
       </iframe>
     <%end%>

      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
      <script type="text/javascript" src="javascript/kenburns.js"></script>


      <script>
      var clicked = false
      $('#searchbutton').click(function(e){
        e.preventDefault();
        if(clicked===false){
          clicked = true
          $(".loading_div").fadeIn(2000);
          $.get('/search',$('#gimmesongs').serialize(),function(response){
            $(".loading_div").fadeOut(1000);
            $('body').html(response)
          })
        }
      })
      $('.leftBar').hover(function(){
        $(this).stop().animate({left: "0em"},'fast');
      }, function(){
        $(this).stop().animate({left: "-13em"},1000);
      })
      </script>
    </div>
  </div>
  <div class ="loading_div">
    <h3 id="loading_message">Creating your custom playlist...<h3>
      <img id="loading_image" src="images/load.gif" width="100" height="100">
    </div>

  </body>

